---
import type { Props as CardProps } from "@components/Card/Card.astro";
import CardList from "@components/CardList.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getEtablissements } from "@libs/getData";

const entries = await getEtablissements();
const cards: CardProps[] = entries.map(
  ({ name: title, location, site, image, url }) => ({
    title,
    location,
    site,
    image: { url: image, alt: `Établissement ${title}` },
    url,
  })
);
---

<Layout title="Établissements">
  <main class="flow">
    <Section shape="bottom" color="secondary-1">
      <h1 class="clr-surface-1 text-align:center">Établissements</h1>
      <p class="clr-surface-1">
        Les cités éducatives consistent en une grande alliance des acteurs
        éducatifs dans les quartiers prioritaires de la politique de la ville :
        parents, services de l’État, des collectivités, associations, habitants.
      </p>
    </Section>
    <Section>
      <CardList items={cards} />
    </Section>
  </main>
</Layout>
