@use "../abstracts" as *;
body {
  background: $background-color;
  color: $color-text;
  font-family: $font-base;
  font-size: var(--fs-0);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  color: $color-heading;
  font-family: $font-heading;
  line-height: 1.2;
  max-inline-size: 25ch;
}
h1 {
  font-size: var(--fs-5);
  font-weight: 700;
}
h2 {
  font-size: var(--fs-4);
  font-weight: 700;
}
h3 {
  font-size: var(--fs-3);
  font-weight: 400;
}
h4 {
  font-size: var(--fs-2);
  font-weight: 400;
}
h5 {
  font-size: var(--fs-1);
}
p {
  max-inline-size: 65ch;
}
