$region-space: var(--s-s);

$background-color: var(--clr-surface-1);

$font-heading: var(--font-display);
$color-heading: var(--clr-text-2);
$color-text: var(--clr-text-1);
$font-base: var(--font-base);

$color-link: var(--clr-accent);

$flex-gap: var(--s-s);

$wrapper-padding: var(--s-2xs);
$wrapper-size: 64rem;
$wrapper-size-narrow: 40rem;
$wrapper-size-wide: 75rem;
