$region-space: var(--s-s);

$background-color: var(--clr-surface-1);

$font-heading: var(--font-display);
$color-heading: var(--clr-text-2);
$color-text: var(--clr-text-1);
$font-base: var(--font-base);

$flex-gap: var(--s-s);
$grid-gap: var(--s-s);

$wrapper-padding: var(--s-s);
