---
import Card from "@components/Card/Card.astro";
import Pagination from "@components/Pagination.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (async () => {
  return [{ params: { slug: "truc" } }];
}) satisfies GetStaticPaths;
---

<Layout title="Collège Paul Verlaine">
  <main class="flow">
    <Section shape="bottom" color="surface-2">
      <h1 class="text-align:center">Collège Paul Verlaine</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </Section>
    <Section>
      <div class="ram">
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
        <Card
          title="Une semaine sans écran"
          description="Pas d'écran cette semaine ! Vous êtes cap ?"
          url="truc"
          image={{ url: "article.png", alt: "qqc" }}
          date="28-06-23"
        />
      </div>
    </Section>
    <Pagination total={12} current={3} next="3" prev="2" />
  </main>
</Layout>
