---
import type { Props as CardProps } from "@components/Card/Card.astro";
import CardList from "@components/CardList.astro";
import Section from "@components/Section.astro";
import TextCard from "@components/TextCard.astro";
import Layout from "@layouts/Layout.astro";
import { getContacts } from "@libs/getData/contacts.js";

const contacts = await getContacts();
const contactCards: CardProps[] = contacts.map(
  ({ name: title, mail, phoneNumber: phone, description }) => ({
    title,
    mail,
    phone,
    description,
  })
);
---

<Layout title="À Propos">
  <main class="flow">
    <Section shape="bottom" color="secondary-2">
      <div class="wrapper flow" style="--flow-space:var(--s-xl)">
        <h1 class="clr-surface-1 text-align:center">
          La cité éducative de Béthune
        </h1>
        <p class="clr-surface-1">
          Les Cités éducatives visent à intensifier les prises en charge
          éducatives des enfants et des jeunes, de la naissance à l’insertion
          professionnelle, avant, pendant, autour et après le cadre scolaire.
          Elles consistent en une grande alliance des acteurs éducatifs dans les
          quartiers prioritaires de la politique de la ville : parents, services
          de l’État, des collectivités, associations, habitants. À travers les
          Cités éducatives, le Gouvernement veut ainsi fédérer tous les acteurs
          de l’éducation scolaire et périscolaire, dans les territoires qui en
          ont le plus besoin et où seront concentrés les moyens publics.
        </p>
      </div>
    </Section>
    <Section>
      <div
        class="wrapper flow"
        data-type="wide"
        style="--flow-space:var(--s-xl)"
      >
        <h2 class="h1 text-align:center">Le Périmètre de la cité éducative</h2>
        <div class="two-columns mt-m px-s">
          <p>
            La commune de Béthune dispose de deux quartiers prioritaires, le
            Mont Liébaut et la Rue de Lille. Il est proposé d’associer ces deux
            territoires afin de disposer d’une programmation homogène. La ville
            de Béthune, « Smart City », se veut dynamique et tournée vers les
            nouvelles technologies. La commune possède une ingénierie dédiée à
            la Politique de la ville qui travaille en lien étroit avec les
            autres services (jeunesse, éducation, cohésion sociale, santé, …),
            ce qui traduit une volonté certaine de s’investir pour les habitants
            des quartiers et plus particulièrement les jeunes.
          </p>
          <img src="/map.png" alt="carte de Béthune" />
        </div>
      </div>
    </Section>
    <Section shape="both" color="primary">
      <div
        class="wrapper flow"
        data-type="wide"
        style="--flow-space:var(--s-xl)"
      >
        <h2 class="h1 clr-surface-1 text-align:center">Les Enjeux</h2>
        <div class="two-columns">
          <TextCard>
            Favoriser l’ambition et la réussite de tous, dans le cadre d’une
            alliiance éducative renforcée.
          </TextCard>
          <TextCard>
            Favoriser le vivre ensemble et promouvoir les valeurs de la
            République.
          </TextCard>
          <TextCard>Favoriser le bien-être de tous.</TextCard>
          <TextCard>
            Lutter contre les fractures et appréhender le monde de demain.
          </TextCard>
        </div>
      </div>
    </Section>
    <Section>
      <h2 class="h1 text-align:center">Contacts</h2>
      <CardList items={contactCards} alignItemsCenter={true} />
    </Section>
  </main>
</Layout>
<style>
  .two-columns img {
    justify-self: center;
  }
</style>
