---
import FewCards from "@components/FewCards.astro";
import Section from "@components/Section.astro";
import TextCard from "@components/TextCard.astro";
import Layout from "@layouts/Layout.astro";
import { getActus } from "@libs/getData/actus.js";
import { getEtablissements } from "@libs/getData/etablissements.js";

const etablissements = await getEtablissements();
const actus = await getActus();
---

<Layout title="Accueil">
  <main class="flow" style="--flow-space:var(--s-m);">
    <Section color="primary" shape="bottom">
      <div class="flow">
        <h2 class="text-align:center h1 clr-surface-1">Actualités</h2>
        <FewCards {actus} />
      </div>
    </Section>
    <Section>
      <div class="flow">
        <h2 class="h1 text-align:center">Les Établissements</h2>
        <div class="ram wrapper" data-type="wide" data-align="center">
          {
            etablissements.map(({ name, url }) => (
              <TextCard background="secondary-1" color="surface-1" {url}>
                <p class="text-align:center">{name}</p>
              </TextCard>
            ))
          }
        </div>
      </div>
    </Section>
  </main>
</Layout>
