---
import CardList from "@components/CardList.astro";
import Pagination from "@components/Pagination.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getActus } from "@libs/getData/actus.js";
import type { GetStaticPaths, InferGetStaticPropsType, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import type { Props as CardProps } from "@components/Card/Card.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const actualites = await getActus();
  return paginate(actualites, { pageSize: 2 });
};
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props as { page: Page<CollectionEntry<"actualites">> };
const actualites = page.data;
const cards: CardProps[] = actualites.map((el) => ({
  title: el.data.title,
  image: { url: el.data.image, alt: el.data.altImage },
  date: el.data.date,
  description: el.data.description,
  url: `/actualites/${el.slug}`,
  tag: el.data.etablissement,
}));
---

<Layout title="Actualités de la Cité Éducative">
  <main class="flow">
    <Section shape="bottom" color="surface-2">
      <h1 class="text-align:center">Actualités de la Cité Éducative</h1>
    </Section>
    <CardList items={cards} />
    <Pagination {page} />
  </main>
</Layout>
