---
import type { Props as CardProps } from "@components/Card/Card.astro";
import Card from "@components/Card/Card.astro";
import Section from "@components/Section.astro";
interface Props {
  items: CardProps[];
  alignItemsCenter?: boolean;
}
const { items, alignItemsCenter } = Astro.props;
---

<Section>
  {
    items.length === 0 ? (
      <div class="wraper">
        <p class="text-align:center">Pas d'actualites pour le moment</p>
      </div>
    ) : (
      <div
        class="ram wrapper"
        data-type="wide"
        data-align={alignItemsCenter && "center"}
      >
        {items.map((item) => (
          <Card {...item} />
        ))}
      </div>
    )
  }
</Section>
