---
import type { CollectionEntry } from "astro:content";
import Card from "@components/Card/Card.astro";
import Section from "@components/Section.astro";
import type { Props as CardProps } from "@components/Card/Card.astro";
interface Props {
  items: CardProps[];
}
const { items } = Astro.props;
---

<Section>
  {
    items.length === 0 ? (
      <p class="text-align:center">Pas d'actualites pour le moment</p>
    ) : (
      <div class="ram">
        {items.map((item) => (
          <Card {...item} />
        ))}
      </div>
    )
  }
</Section>
