---
import "@fontsource/averia-sans-libre/400.css";
import "@fontsource/averia-sans-libre/700.css";
import "@sass/index.scss";
import Symbols from "@components/Symbols.astro";
import Header from "@components/Header.svelte";
import SectionShape from "@components/SectionShape.svelte";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://fav.farm/ðŸ› ï¸" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Symbols />
    <Header client:idle />
    <!-- <SectionShape client:idle /> -->
    <slot />
  </body>
</html>
